name: Github Actions CI/CD

on:
  push:
    branches:
      - "main"
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_ACCESS_TOKEN}}

    - name: Setup Java 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'adopt'
        cache: maven

    - name: Build Application .jar
      working-directory: .
      run: mvn clean package

    - name: Docker Compose Build
      working-directory: .
      run: docker compose build

    - name: Push to Docker Hub Container Registry
      run: |
        docker tag ${{ secrets.DOCKER_USERNAME }}/restful-java:latest ${{ secrets.DOCKER_USERNAME }}/restful-java:${{ github.run_id }}
        
        docker push ${{ secrets.DOCKER_USERNAME }}/restful-java:latest
        docker push ${{ secrets.DOCKER_USERNAME }}/restful-java:${{ github.run_id }}